#pragma once

#define Wifi_SSID "your-wifi-ssid"
#define Wifi_Password "your-wifi-password"

// Home Assistant -> Profile -> Security -> Long-Lived Access Tokens -> Create Token
#define HA_Token "your-long-lived-access-token"
